<main class="main">
    <p-card header="Sad Bassoon Alloy Calculator" [style]="{width: '640px'}">
<p>Use this tool to calculate the composition of an alloy based on the selected metals and their blend ratios.</p>
<p>Note: The alloy composition is based on a blend ratio between 0 and 1, where 0 is the minimum and 1 is the maximum for each metal.</p>
<p>For example, if you select a blend ratio of 50% for an alloy with 20-40% Metal A and 80-60% Metal B, the resulting composition will be 30% Metal A and 70% Metal B.</p>
<p>Select an Alloy and the number of ingots you want and adjust the blend ratio using the slider to see how it affects the alloy composition and wastage.</p>
<ng-template pTemplate="content"> 
    <div style="flex-direction:column; padding: 1rem;">
        <div style="flex-direction: row;">
            <p-floatLabel>
                <p-dropdown
                    [options]="alloyOptions"
                    [(ngModel)]="selectedAlloy"
                    optionLabel="name"
                    placeholder="Select an alloy"
                    (onChange)="onAlloyChange()"
                    [style]="{width: '100%'}"
                ></p-dropdown>
                <label for="alloy-select">Select Alloy</label>
            </p-floatLabel>
            <p-floatLabel>
                <p-inputNumber 
                    id="num-ingots" 
                    min="1" 
                    inputId="integeronly" 
                    [(ngModel)]="numIngots" 
                    [style]="{width: '100%'}"
                />
                <label for="num-ingots"># of Ingots</label>
            </p-floatLabel>
        </div>
        @if(selectedAlloy)
        {
            <ng-container>
                <p-floatLabel>
                    <p-inputNumber
                        id="slider-value"
                        [min]="0"
                        [max]="100"
                        inputId="integeronly"
                        [(ngModel)]="sliderValue"
                        [suffix]="'%'"
                    />
                    <label for="slider-value">Blend Ratio</label>
                </p-floatLabel>
                <p-slider
                    [(ngModel)]="sliderValue"
                    [min]="0"
                    [max]="100"
                    [step]="1"
                ></p-slider>
                <table>
                    <tr>
                        <td><h3>Results</h3></td>
                    </tr>
                    <tr>
                        <td>Nuggets</td>
                        <td>Wastage</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            <!-- Nuggets (5 units/per) -->
                            @for(metal of selectedAlloy!.metals | keyvalue; track metal.key)
                            {
                                <li>
                                    {{
                                        ceil(
                                            lerp(metal.value.min, metal.value.max, sliderValue / 100) * numIngots / 5
                                        )
                                    }} x {{ metal.key | titlecase}} 
                                    ({{ lerp(metal.value.min, metal.value.max, sliderValue / 100) | number:'1.0-2' }}%)
                                </li>
                            }
                        </td>
                        <td style="width: 50%; font-weight: bold; color: red;">
                            <!-- Wastage-->
                            @for(metal of selectedAlloy!.metals | keyvalue; track metal.key)
                            {
                                <li>
                                    <!-- Wastage = total units-->
                                    {{
                                        (
                                            (lerp(metal.value.min, metal.value.max, sliderValue/100) * numIngots) % 5
                                        ) | number
                                    }} units of {{ metal.key }}
                                </li>
                            }
                        </td>
                    </tr>
                </table>
            </ng-container>
        }
    </div>
</ng-template>
</p-card>
</main>